In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'A': ['verdadeiro', 'falso', 'verdadeiro', 'falso', 'verdadeiro', 'falso', 'verdadeiro', 'falso'],
                   'B': ['um', 'um', 'dois', 'tres', 'dois', 'dois', 'um', 'tres'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})

In [6]:
df

            A     B         C         D
0  verdadeiro    um  0.842943  0.445658
1       falso    um -1.081881  0.695620
2  verdadeiro  dois -0.932455 -1.049088
3       falso  tres -0.592953  0.758392
4  verdadeiro  dois  0.398952  0.155339
5       falso  dois -0.037116 -0.328309
6  verdadeiro    um  0.846120  0.569255
7       falso  tres  1.478985  0.045523

In [7]:
df.groupby(['A']).sum()

<ipython-input-7-676c20458440>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['A']).sum()

                   C         D
A
falso      -0.232965  1.171226
verdadeiro  1.155560  0.121164

In [8]:
df.groupby(['B']).sum()

<ipython-input-8-5c17ddc59eb1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['B']).sum()

             C         D
B
dois -0.570619 -1.222059
tres  0.886032  0.803915
um    0.607182  1.710533

In [9]:
df.groupby(['A', 'B']).sum()

                        C         D
A          B
falso      dois -0.037116 -0.328309
           tres  0.886032  0.803915
           um   -1.081881  0.695620
verdadeiro dois -0.533503 -0.893749
           um    1.689063  1.014913